.dark-mode {
  --fontColor: #ffffff;
}

.not-found {
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;

  p {
    color: var(--fontColor);
    font-size: 18px;
    @media only screen and (max-width: 680px) {
      font-size: 15px;
    }
  }

  .data-not-found {
    height: 300px;

    @media only screen and (max-width: 680px) {
      height: 200px;
    }
  }
}
