.dark-mode {
  --background: #312c38;
}

.main {
  min-height: 100vh;
  display: flex;
  background-color: var(--background);
  flex-direction: column;
  align-items: center;
  transition: background 0.4s;

  .container {
    width: 100%;

    .cards {
      width: 94%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      padding: 20px;
      min-height: 100vh;

      @media only screen and (max-width: 500px) {
        width: 100%;
      }
    }
  }
}
