.main {
  min-height: 100vh;
  display: flex;
  background-color: #f5f6f7;
  flex-direction: column;
  align-items: center;

  button {
    background: white;
    background: linear-gradient(90deg, #40bff6 0%, #6e66e0 100%);
    padding: 15px 45px;
    outline: none;
    margin: 40px;
    border-width: 0;
    font-size: 17px;
    color: white;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .container {
    display: flex;
    width: 100%;

    .navigation {
      width: 20%;
      transition: all 1s;
      overflow: hidden;
      border: 1px solid rgba(0, 0, 0, 0.05);
      margin: 20px;
      text-align: center;
      font-size: 10px;
    }

    .cards {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      column-gap: 50px;
      row-gap: 70px;
      padding: 20px;
      place-items: center;

      .loading {
        height: 80vh;
        color: black;
        font-size: 25px;
        width: 70vw;
        position: relative;

        &::after {
          content: "Loading News!";
          position: absolute;
          top: 150px;
          left: 300px;
          color: rgba(0, 0, 0, 0.5);
        }

        &::before {
          content: "";
          position: absolute;
          width: 30px;
          height: 30px;
          top: 80px;
          left: 360px;
          border-radius: 50%;
          border: 3px solid transparent;
          border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.616)
            rgba(0, 0, 0, 0.9) black;
          animation: rotate 0.4s linear infinite;
        }

        @keyframes rotate {
          100% {
            transform: rotate(1turn);
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .main {
    button {
      margin: 35px 0;
      margin-left: 35px;
      background-color: red;
    }

    .container {
      flex-direction: column;

      .navigation {
        min-height: 300px;
        min-width: 60%;
        background-color: rgba(255, 0, 0, 0.226);
        margin-left: 100px;
      }
      .cards {
        padding: 0;
      }
    }
  }
}
