.header {
  background: linear-gradient(90deg, #2980b9 40%, #2c3e50 100%);
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  padding-right: 180px;
  align-items: center;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  @media only screen and (max-width: 680px) {
    flex-direction: column;
    height: 120px;
    justify-content: space-around;
    padding: 0;
    position: relative;
  }

  .main-heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Righteous", cursive;
  }

  .input-field {
    position: relative;

    .MuiSvgIcon-root {
      position: absolute;
      left: 10px;
      top: 7px;
      font-size: 26px;
      opacity: 0.6;
    }

    input {
      background: #43434390;
      color: white;
      outline: none;
      border: 1px solid black;
      padding: 7px 15px;
      font-size: 15px;
      font-weight: 800x;
      transition: all 0.3s;
      padding-left: 40px;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        border: none;
      }

      &:focus {
        background: #1f1e1e;
      }
    }
  }
}
