.dark-mode {
  --colorOne: #241d1d;
  --colorTwo: #131b25;
  --borderColor: rgba(255, 255, 255, 0.1);
  --fontColor: #ffffff;
  --iconColor: rgb(255, 123, 0);
}

.footer {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--colorOne) 100%,
    var(--colorTwo) 100%
  );
  border-top: 1px solid var(--borderColor);
  padding: 0 10px;

  @media only screen and (min-width: 680px) {
    padding: 0 50px;
    width: 94%;
  }

  .upper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    color: var(--fontColor);
    border-bottom: 1px solid var(--borderColor);

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      height: 300px;
    }

    .box {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      cursor: pointer;

      .icon-div {
        .MuiSvgIcon-root {
          color: var(--iconColor);
          font-size: 38px;
        }
      }

      .content {
        margin-left: 20px;
        .heading {
          font-weight: 800;
        }

        .details {
          margin-top: 6px;
          font-weight: 200;
        }
      }
    }
  }

  .copy-right {
    margin: 20px;
    color: var(--fontColor);
  }
}
