.dark-mode {
  --colorOne: #241d1d;
  --colorTwo: #131b25;
  --borderColor: rgba(255, 255, 255, 0.1);
}

.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--borderColor);
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--colorOne) 100%,
    var(--colorTwo) 100%
  );

  .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;

    @media only screen and (max-width: 680px) {
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
    }

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 1);
      cursor: pointer;
    }
  }
}
