.footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);

  .links {
    width: 40%;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
